.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.Rpc-url {
    text-align: center;
    color:azure;
    text-shadow: 1px 1px black;
}