.s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.c {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
