.App {
  text-align: center;
}

body {
  background-color: #48BEFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image:url("./assets/gogopool-logo-text.svg");
  background-repeat:no-repeat;
  background-position: center;
  height:150px;
}

.header-bg {
  background-image:url("./assets/background.svg");
  background-repeat: repeat;
  background-color: #61dafb;
}

.App-body {
  background-image:url("./assets/background.svg");
  background-repeat: repeat;
}

.Body-content {
  position:relative;
}

.App-link {
  color: #61dafb;
  background-color: #61dafb;
}

.cloud {
  position:fixed;
  animation-name: float;
  animation-duration:20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float {
  from {
    padding-left:50vw;
  }
  to {
    padding-left:80vw;
  }
}


.mountains {
  position:fixed;
  width:1500px;
  height:auto;
  bottom:-100px;
}

.balloon-yellow {
  position:fixed;
  animation-name:balloon;
  animation-duration:30s;
  animation-iteration-count: infinite;
}

@keyframes balloon {
  from {
    padding-left:0vw;
    transform: translate(0,300px);
  }
  to {
    padding-left:120vw;
    transform: translate(0,0px);
  }
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}
